[{apollo_client, [
    {config, #{
        app_id => "com.easemob.msync",
        config_server_url => "http://localhost:8080",
        cluster => "hsb",
        namespaces => ["application", "hsb"]
    }},
    {spring_cloud_config, #{
        enabled => true,
        server_url => "http://localhost:8888",
        application => "msync",
        profile => "dev",
        label => "master",
        retry_attempts => 3,
        retry_interval => 1000
    }}
]}].